{
  "arrowParens": "avoid",
  "semi": false,
  "trailingComma": "none",
  "endOfLine": "crlf",
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "printWidth": 120,
  "jsxSingleQuote": false
}
